<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="encoding" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CoExp Web Application</title>
    <link type="image/gif" rel="icon" href="~/images/ucl-icon.png">

    @* site css *@
    <link type="text/css" rel="stylesheet" href="~/css/site.css">


    @* css from libraries *@
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">

    <link type="text/css" rel="stylesheet" href="~/css/lib/bootstrap-multiselect.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/bootstrap-select.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/buttons.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/custom.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/dataTables.bootstrap4.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/fixedColumns.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/introjs.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/simTree.min.css">


    @*<link type="text/css" rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.min.css">*@



    <environment include="Development">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/coexp_test/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/coexp_test/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/coexp_test/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    <environment include="Docker">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    <environment include="Production">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/coexp/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/coexp/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/coexp/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    <environment include="Private">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/ATN_5843218Gt/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/ATN_5843218Gt/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/ATN_5843218Gt/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    @if (IsSectionDefined("HeadStyles"))
    {
    @RenderSection("HeadStyles", required: false)
    }

</head>
<body>
    @* Menu *@
    <div class="navbar navbar-expand navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#coexp-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Run" asp-action="Index">CoExp</a>
            </div>


            <div class="navbar-collapse collapse navbar-dark bg-dark" id="coexp-menu">

                <div style="float:right;">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" id="tab_about">
                            <a asp-area="" asp-controller="Run" asp-action="About">
                                <span class="fa-li"><i class="fa fa-home fa-fw"></i></span>
                                About
                            </a>
                        </li>
                        <li class="nav-item" id="tab_datasets">
                            <a asp-area="" asp-controller="Run" asp-action="Datasets">
                                <span class="fa-li"><i class="fa fa-database fa-fw"></i></span>
                                Datasets
                            </a>
                        </li>
                        <li class="nav-item" id="tab_publication">
                            <a asp-area="" asp-controller="Run" asp-action="Publication">
                                <span class="fa-li"><i class="fa fa-newspaper"></i></span>
                                Publications
                            </a>
                        </li>
                        <li class="nav-item dropdown" id="tab_help">
                            <a class="nav-item dropdown-toggle" data-toggle="dropdown">
                                <span class="fa-li"><i class="fa fa-question"></i></span>
                                Help <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="nav-item"><a asp-area="" asp-controller="Run" asp-action="Help" target="_blank">Getting started</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Run" asp-action="Help_Introduction" target="_blank">Introduction</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Run" asp-action="Help_Catalogue" target="_blank">Network Catalogue</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Run" asp-action="Help_Annotation" target="_blank">Gene Set Annotation</a></li>
                                <li class="nav-item"><a asp-area="" asp-controller="Run" asp-action="Help_Plot" target="_blank">Plot Gene Network</a></li>
                                <li class="nav-item"><a href="https://github.com/SoniaRuiz/coexp-website/wiki" target="_blank">GitHub Wiki</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div style="float:left;">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" id="tab_network_catalogue">
                            <a class="navbar-link" asp-controller="Run" asp-action="Catalogue">
                                <span class="fa-li"><i class="fas fa-archive"></i></span>
                                Network Catalogue
                            </a>
                        </li>
                        <li class="nav-item" id="tab_gene_set_annotation">
                            <a asp-area="" asp-controller="Run" asp-action="Annotated">
                                <span class="fa-li"><i class="fas fa-paste"></i></span>
                                Gene Set Annotation
                            </a>
                        </li>
                        <li class="nav-item" id="tab_plot">
                            <a asp-area="" asp-controller="Run" asp-action="Plot" class="navbar-link">
                                <span class="fa-li"><i class="fas fa-project-diagram"></i></span>
                                Plot Gene Network
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    @* Body *@
    <div class="container body-content">
        @RenderBody()
    </div>

    @* Footer *@
    <div id="footer">
        <a asp-area="" asp-controller="Run" asp-action="Terms">Terms & Conditions</a>
        <span class="pipe-footer">|</span>
        <a asp-area="" asp-controller="Run" asp-action="Privacy">Privacy</a>
        <small>&copy; 2018 - 2022 - CoExp Web Application. All rights reserved.</small>
    </div>

    @* site js *@
    <script type="text/javascript" src="~/js/api.js"></script>

    @* js from libraries *@


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/js/lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/lib/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/lib/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/lib/dataTables.fixedColumns.min.js"></script>


    <script type="text/javascript" src="~/js/lib/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/js/lib/bootstrap-select.js"></script>

    <script type="text/javascript" src="~/js/lib/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="~/js/lib/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/js/lib/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/lib/buttons.print.min.js"></script>


    <script type="text/javascript" src="~/js/lib/cola.min.js"></script>
    <script type="text/javascript" src="~/js/lib/popper.js"></script>
    <script type="text/javascript" src="~/js/lib/cytoscape.min.js"></script>
    <script type="text/javascript" src="~/js/lib/cytoscape-cola.js"></script>
    <script type="text/javascript" src="~/js/lib/cytoscape-popper.js"></script>


    <script type="text/javascript" src="~/js/lib/intro.min.js"></script>

    <script type="text/javascript" src="~/js/lib/jszip.min.js"></script>
    @*<script type="text/javascript" src="~/js/lib/pdfmake.min.js"></script>*@
    <script type="text/javascript" src="~/js/lib/plugins.js"></script>
    <script type="text/javascript" src="~/js/lib/popper.js"></script>
    <script type="text/javascript" src="~/js/lib/simTree.min.js"></script>
    <script type="text/javascript" src="~/js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="~/js/lib/xlsx.full.min.js"></script>



    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js"></script>

    <script type="text/javascript" src="~/js/net_v2_cytoscape.js"></script>


    <!--Multiselect scripts -->



    <environment include="Development">
        <script type="text/javascript">
            const environment = "coexp_test";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>
    </environment>
    <environment include="Docker">
        <script type="text/javascript">
            const environment = "docker";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>
    </environment>
    <environment include="Private">
        <script type="text/javascript">
            const environment = "ATN_5843218Gt";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>
    </environment>
    <environment include="Production">
        <script type="text/javascript">
            const environment = "coexp";
        </script>
        <!-- ******* GOOGLE ANALYTICS ******* -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129116044-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-129116044-1');
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
