<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoExp WebSite</title>
    <link rel="icon" href="~/images/ucl-icon.png" type="image/gif" sizes="16x16">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/buttons.dataTables.min.css">
        <link rel="stylesheet" href="~/css/bootstrap-select.css">
        <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/fixedColumns.dataTables.min.css" />

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;">CoExp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Run" asp-action="Catalog">Network Catalog</a></li>
                    <li><a asp-area="" asp-controller="Run" asp-action="Annotated">Gene Set Annotation</a></li>
                    <li><a asp-area="" asp-controller="Run" asp-action="Plot">Plot</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">?<span class="caret"></span></a>
                        <ul class="nav navbar-nav dropdown-menu" style="background-color:#101010;">
                            <li><a asp-area="" asp-controller="Run" asp-action="Help">Help</a></li>
                            <li><a asp-area="" asp-controller="Run" asp-action="About">About CoExp</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CoExp_Web</p>
        </footer>
    </div>
    <script>
        const environment = "coexp_test";//"ATN_5843218Gt"//"coexp"//coexp_test
    </script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129116044-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-129116044-1');
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
