<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="encoding" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CoExp WebSite</title>
    <link type="image/gif" rel="icon" href="~/images/ucl-icon.png">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap-select.min.css">

    <environment include="Development,Docker">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="~/css/site.css">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/coexp_test/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/coexp_test/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/coexp_test/images/details_close.png') no-repeat center center;
            }
        </style>
        @*<link type="text/css" rel="stylesheet" href="~/css/introjs-rtl.css">*@
        <link type="text/css" rel="stylesheet" href="~/css/introjs.css">
    </environment>
    <environment include="Production,Private">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="~/css/site.min.css">
        @*<link type="text/css" rel="stylesheet" href="~/css/introjs-rtl.min.css">*@
        <link type="text/css" rel="stylesheet" href="~/css/introjs.min.css">
    </environment>
    <environment include="Production">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/coexp/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/coexp/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/coexp/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    <environment include="Private">
        <style type="text/css">
            .loading_layer {
                background: rgba( 255, 255, 255, .8 ) url('/ATN_5843218Gt/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/ATN_5843218Gt/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/ATN_5843218Gt/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    @if (IsSectionDefined("HeadStyles"))
    {
        @RenderSection("HeadStyles", required: false)
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;">CoExp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item" id="tab_network_catalog"><a class="navbar-link" asp-controller="Run" asp-action="Catalog">Network Catalog</a></li>
                    <li class="nav-item" id="tab_gene_set_annotation"><a asp-area="" asp-controller="Run" asp-action="Annotated">Gene Set Annotation</a></li>
                    <environment include="Development">
                        <li class="nav-item" id="tab_plot"><a asp-area="" asp-controller="Run" asp-action="Plot">Plot Gene Network</a></li>
                    </environment>

                    <li id="tab_about" class="nav-item dropdown">
                        <a class="nav navbar-nav dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Run" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Run" asp-action="Publication">Publication</a></li>
                        </ul>
                    </li>
                    

                    <li id="tab_help" class="nav-item dropdown">
                        <a class="nav navbar-nav dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Run" asp-action="Help">Getting started</a></li>
                            <li><a asp-area="" asp-controller="Run" asp-action="Help_Introduction">Introduction</a></li>
                            <li><a asp-area="" asp-controller="Run" asp-action="Help_Catalog">Network Catalog</a></li>
                            <li><a asp-area="" asp-controller="Run" asp-action="Help_Annotation">Gene Set Annotation</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr>

    </div>

    <div id="footer">
        <environment include="Production,Development,Private">
            <span class="glyphicon glyphicon-comment"></span>
            <a href="" data-toggle="modal" data-target="#modalContactForm">Feedback</a>
            <span class="pipe-footer">|</span>
        </environment>
        <a asp-area="" asp-controller="Run" asp-action="Terms">Terms & Conditions</a>
        <span class="pipe-footer">|</span>
        <a asp-area="" asp-controller="Run" asp-action="Privacy">Privacy</a>
        <small>&copy; 2018 - 2019 - CoExp_Web. All rights reserved.</small>
    </div>
    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button id="close_feedback" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100 font-weight-bold">Feedback for CoExp Website</h4>
                    <p>Thanks for taking the time to provide feedback!</p>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form mb-5">
                        <label for="feedback_name">Your name</label>
                        <input type="text" id="feedback_name" class="form-control validate">
                    </div>
                    <br />
                    <div class="md-form mb-5">
                        <label for="feedback_email">Your email</label>
                        <input type="email" id="feedback_email" class="form-control validate">
                    </div>
                    <br />
                    <div class="md-form">
                        <label for="feedback_comments">Enter your comments below.</label>
                        <textarea type="text" id="feedback_comments" class="md-textarea form-control" rows="4"></textarea>

                    </div>
                    <br />
                    <div class="md-form mb-5">
                        <label for="feedback_radio">Are you satisfied with your experience?</label>
                        <div class="radio">
                            <label><input type="radio" name="feedback_radio" value="neutral" checked>Neutral</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="feedback_radio" value="yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="feedback_radio" value="no">No</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button onclick="javascript: API.prototype.sendFeedback();" class="btn btn-primary disabled">Send</button>
                </div>
            </div>
        </div>
    </div>


    

    <environment include="Development,Docker">
        <script type="text/javascript">
            const environment = "coexp_test";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>

        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/intro.js"></script>
        <script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    </environment>

    <environment include="Private">
        <script type="text/javascript">
            const environment = "ATN_5843218Gt";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>

        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/intro.js"></script>
    </environment>

    <environment include="Production">

        <script type="text/javascript">
            const environment = "coexp";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129116044-1"></script>
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-129116044-1');
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script type="text/javascript" src="~/js/intro.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            
        });
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
