<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoExp WebSite</title>
    <link type="image/gif" rel="icon" href="~/images/ucl-icon.png">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap-select.min.css">

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="~/css/site.css">
        <style type="text/css">
            .modal {
                background: rgba( 255, 255, 255, .8 ) url('/coexp_test/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/coexp_test/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/coexp_test/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    <environment include="Production,Private">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="~/css/site.min.css">
    </environment>
    <environment include="Private">
        <style type="text/css">
            .modal {
                background: rgba( 255, 255, 255, .8 ) url('/ATN_5843218Gt/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/ATN_5843218Gt/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/ATN_5843218Gt/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    <environment include="Production">
        <style type="text/css">
            .modal {
                background: rgba( 255, 255, 255, .8 ) url('/coexp/images/loading.gif') 50% 50% no-repeat;
            }

            td.details-control {
                background: url('/coexp/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('/coexp/images/details_close.png') no-repeat center center;
            }
        </style>
    </environment>
    @if (IsSectionDefined("HeadStyles"))
    {
        @RenderSection("HeadStyles", required: false)
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;">CoExp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Run" asp-action="Catalog">Network Catalog</a></li>
                    <li><a asp-area="" asp-controller="Run" asp-action="Annotated">Gene Set Annotation</a></li>
                    <environment include="Development">
                        <li><a asp-area="" asp-controller="Run" asp-action="Plot">Plot</a></li>
                    </environment>
                    <li class="dropdown">
                        <a href="#" class="nav navbar-nav dropdown-toggle" data-toggle="dropdown" >?<span class="caret"></span></a>
                        <ul class="nav navbar-nav dropdown-menu" style="background-color:#101010;">
                            <li><a asp-area="" asp-controller="Run" asp-action="Help">Help</a></li>
                            <li><a asp-area="" asp-controller="Run" asp-action="About">About CoExp</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr>
        <div>
            <p>&copy; 2019 - CoExp_Web</p>
        </div>
    </div>
    <environment include="Development">
        <script type="text/javascript">
            const environment = "coexp_test";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>

        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    <environment include="Private">
        <script type="text/javascript">
            const environment = "ATN_5843218Gt";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>

        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    <environment include="Production">

        <script type="text/javascript">
            const environment = "coexp";//"ATN_5843218Gt"//"coexp"//coexp_test
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129116044-1"></script>
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-129116044-1');
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
