@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<header class="header text-danger">
    <h1>@ViewData["Title"]</h1>
    <hr />
</header>
<article>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Message:</strong> <code>@Model.Message</code>
        </p>
    }

    <h3>Contact</h3>
    <p>
        If this error persist, please, <a href="mailto:s.ruiz@ucl.ac.uk">contact us.</a>
    </p>
</article>
