
@{
    ViewData["Title"] = "About";
}

<header>
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <b>CoExp</b>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink("About CoExp", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</header>
<div class="row">
    <main>
        <nav class="col-sm-12">
            <h2>About</h2>
            
            <div>
                <fieldset>
                    <legend>
                        CoExp v1.0.1
                    </legend>

                    <p>
                        CoExp Web application is a web interface for the effortless usage and management of CoExp R software: a family of R packages which altogether conform a R framework for the generation,
                        deployment, sharing and exploitation of co-expression networks as annotation models of genes and their role in transcription. The family of packages of CoExpNets can be got from the
                        URL (<a href="https://github.com/juanbot/CoExpNets" target="_blank">https://github.com/juanbot/CoExpNets</a>). Within CoExp Web application, all CoExp models are available and can also 
                        be accessed and used for your own research. <br /><br />

                        CoExp Web application has been developed by <a href="http://www.rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Sonia García-Ruiz">
                            Sonia García</a>, for the Ryten Lab.
                        Sonia is the Web Master, you can reach Sonia, member of the Ryten Lab, at <a href="mailto:s.ruiz@ucl.ac.uk">s.ruiz@ucl.ac.uk</a>.<br />
                        The Web is hosted at <a href="http://www.um.es" target="_blank">University of Murcia</a>.
                        The Web hosting is coordinated by <a href="http://www.rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Juan A. Botía">Juan A. Botía</a>,
                        a member of the Ryten Lab, and Professor at University of Murcia.
                        You can reach Prof. Botía at <a href="mailto:juanbotiablaya@gmail.com">juanbotiablaya@gmail.com</a>.


                    </p>
                    <p>
                        <b>Version:</b> CoExp v1.0.1 <br />
                        <b>Authors:</b> <span class="author"><a href="http://www.rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Sonia García-Ruiz">Sonia García</a></span> and
                        <span class="author"><a href="http://www.rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Juan A. Botía">Juan A. Botía</a></span>
                        <br />
                        <b>RytenLab HomePage:</b> <a href="http://www.rytenlab.com/" target="_blank">http://www.rytenlab.com/</a>
                    </p>
                    <br />
                    <div>
                        <a href="https://www.ucl.ac.uk/" target="_blank" title="Go to University College of London">
                            <img src="~/images/logo-ucl.png" alt="UCL logo" />
                        </a>
                        <a href="http://www.um.es" target="_blank" title="Go to University of Murcia"><img src="~/images/logo-um.png" alt="UM logo" /></a>
                    </div>
                    
                    @*<legend>GNU General Public License</legend>
        <p>TODO: Add some text here</p>*@
                </fieldset>
            </div>

        </nav>
    </main>
</div>


