
@{
    ViewData["Title"] = "About";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">About</span>
        @*@Html.ActionLink("About CoExp", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())*@
    }
</div>
<div class="row">
    <div class="col-11 about">
        <h2>About</h2>
        <hr class="menu-hr" />
       <h4>CoExp Web Application</h4>
            <p>
                CoExp Web Application is a web tool developed in .NET Core Framework, for the easy use of <a href="https://github.com/juanbot/CoExpNets" target="_blank" title="CoExp R suite-of-packages available on GitHub">CoExp R suit-of-packages</a> (author: Juan A. Botía) - a framework for the generation, deployment,
                sharing and exploitation of co-expression networks as annotation models of genes and their role in transcription. <br /> We decided to build a web-based UI for the easy use of CoExp R suit-of-packages
                because it is undeniable that a web-page format is the most well-known and accepted way of browsing the Internet around the world. In this sense, we believe that a web-page structure will make CoExp's networks
                easily accessible to every potential user around the world, at any time and from anywhere they decide to do so.
            </p>

            <br /><h4>Licence</h4>
            <div>
                <p>Copyright 2020 CoExp_Web</p>
                <p>
                    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
                    You may obtain a copy of the License at <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a><br />
                    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br />
                    See the License for the specific language governing permissions and limitations under the License.<br />
                </p>

            </div>

            <br /> <h4>Developers</h4>
            <p>
                The User Interface (UI) of CoExp Web Application has been fully developed by <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Link to visit Sonia García-Ruiz profile">Sonia García-Ruiz</a>.
                She is a Ph.D. student, part of the <a href="https://rytenlab.com/RytenLab/" target="_blank" title="Link to visit RytenLab group webpage">RytenLab</a> group, and the WebMaster of the CoExp Web Application. For any queries and suggestions related to the CoExp Web Application performance,
                you can reach Sonia at <a href="mailto:s.ruiz@ucl.ac.uk">s.ruiz@ucl.ac.uk</a>.
                <br />
                On the other hand, CoExp R suit-of-packages has been fully developed by <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Link to visit Juan A. Botía profile">Juan A. Botía</a>.
                He is also a member of the Ryten Lab group and Professor at the University of Murcia. You can reach Prof. Botía at <a href="mailto:juanbotiablaya@gmail.com">juanbotiablaya@gmail.com</a>.
                In addition, Juan A. Botía coordinates the hosting of CoExp Web Application, which is fully allocated at the <a href="http://www.um.es" target="_blank">University of Murcia</a>.
                <br />
                Finally, the brain behind this whole idea and the person who made this software possible is <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=8774A_!52101" target="_blank" title="Link to visit Mina Ryten profile">Mina Ryten</a>,
                a co-expression network guru and the head of the <a href="https://rytenlab.com/RytenLab/" target="_blank" title="Link to visit RytenLab group webpage">RytenLab</a> group.
            </p>

            <br /><h4>Frameworks used</h4>
            <p>This web application has been built using the following frameworks, plug-ins and add-ons:</p>
            <ul>
                <li>ASP.NET Core - The web framework used.</li>
                <li>MVC - The design pattern used</li>
                <li>Bootstrap - To make the website responsible.</li>
                <li>DataTables - To display the data in a datatable format.</li>
                <li>The intro video <a href="http://www.videezy.com">B Roll provided by Videezy!</a></li>
                <li>SheetJS - To export data in a xlsx format.</li>
                <li>Underscore - To enhance the JavaScript functionality of the website.</li>
                <li>Intro.js - To generate the initial tour through the different pages of the website.</li>
                <li>cytoscape.js - JS frameworks used to generate the plot.</li>
                <li>simTree - To generate the tree menu.</li>
                <li>pdfmake - To export data in a PDF format.</li>
            </ul>

            <br /><h4>CoExp on GitHub</h4>
            <p>
                CoExp Web Application is available to be downloaded on <a href="https://github.com/SoniaRuiz/CoExp_Web" target="_blank" title="CoExp available on GitHub">GitHub</a>.
                <a href="https://github.com/SoniaRuiz/CoExp_Web/wiki" target="_blank" title="Tutorial about how to install CoExp within a Linux environment">Here</a>, you can also find a tutorial explaining how to download,
                build and configure CoExp Web Application within a Linux environment.
                <br />
                CoExp R suite-of-packages (author: Juan A. Botía) is also available on <a href="https://github.com/juanbot/CoExpNets" target="_blank" title="CoExp R suite-of-packages available on GitHub">GitHub</a>.
            </p>


            <br /><h4>Further details</h4>
            <ul>
                <li>Current release: <a href="https://github.com/SoniaRuiz/coexp-website/tree/v1.0.1" target="_blank">v1.0.1</a></li>
                <li>
                    Authors: <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Sonia García-Ruiz">Sonia García-Ruiz</a>,
                    <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Juan A. Botía">Juan A. Botía</a> and
                    <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=8774A_!52101" target="_blank" title="Mina Ryten">Mina Ryten</a>
                </li>
                <li>RytenLab HomePage: <a href="https://rytenlab.com/" target="_blank">https://rytenlab.com/</a></li>
            </ul>
        
            <hr />
            <div class="about-logos">
                <a href="https://www.ucl.ac.uk/" target="_blank" title="Go to University College of London">
                    <img src="~/images/logo-ucl.png" alt="UCL logo" />
                </a>
                <a href="http://www.um.es" target="_blank" title="Go to University of Murcia"><img src="~/images/logo-um.png" alt="UM logo" /></a>
            </div>

          


    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_about").addClass("active");
        });

    </script>
}




