@{ ViewData["Title"] = "Datasets"; }
<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Datasets</span>
        @*@Html.ActionLink("About CoExp", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())*@
    }
</div>
<div class="row">
    <div class="col-11 about">
        <h2>Datasets</h2>
        <hr class="menu-hr" />
        <div>
            <div>
                <h3>10UKBEC</h3>
                <p>This category contains 10 Illumina microarray-based gene-expression profiling networks from brain tissue.</p>
                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Network</th>
                            <th scope="col">Description</th>
                            <th scope="col">Network</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">CRBL</th>
                            <td>
                                Cerebellum tissue.
                            </td>
                            <th scope="row">PUTM</th>
                            <td>
                                Putamen tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">FCTX</th>
                            <td>
                                Frontal cortex tissue.
                            </td>
                            <th scope="row">SNIG</th>
                            <td>
                                Substantia nigra tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HIPP</th>
                            <td>
                                Hippocampus tissue.
                            </td>
                            <th scope="row">TCTX</th>
                            <td>
                                Temporal cortex tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MEDU</th>
                            <td>
                                Medulla tissue.
                            </td>
                            <th scope="row">THAL</th>
                            <td>
                                Thalamus tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">OCTX</th>
                            <td>
                                Occipital cortex tissue.
                            </td>
                            <th scope="row">WHMT</th>
                            <td>
                                Intralobular white matter tissue.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>* For any further information, please visit <a href="https://ukbec.wordpress.com/" target="_blank" title="Visit 'UKBEC' project">this</a> link.</p>
            </div><br />
            <div>
                <h3>CoExpGTExV7</h3>
                <p>This category contains 47 co-expression networks in control tissue, including 13 brain areas. The expression data was obtained from the 7th version of the Genotype-Tissue Expression (GTEx) project.</p>
            </div><br />
            <div>
                <h3>CoExpROSMAP</h3>
                <p>
                    This category is composed of 4 networks (all samples, not AD, probable AD and AD) generated from frontal cortex samples obtained from The Religious Orders Study and Memory and Aging Project (ROSMAP) Study.
                </p>
                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Network</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">ad</th>
                            <td>
                                This network was generated using samples from participants diagnosed with Alzheimer's Disease (AD).
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">all samples</th>
                            <td>
                                This network was generated using all samples included in the study.
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">not AD</th>
                            <td>
                                This network was generated using samples from participants not diagnosed with Alzheimer's Disease (AD).
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">probable AD</th>
                            <td>
                                This network was generated using samples from participants categorized with a high probability of Alzheimer's Disease (AD) diagnosis.
                            </td>

                        </tr>
                    </tbody>
                </table>
                <p>* For any further information, please visit <a href="https://www.synapse.org/#!Synapse:syn3219045" target="_blank" title="Visit 'ROSMAP' project">this</a> link.</p>
            </div>
            <br />
            <div>
                <h3>gtexv6</h3>
                <p>This category contains 47 co-expression networks in control tissue, including 13 brain areas. The expression data was obtained from the 6th version of the Genotype-Tissue Expression (GTEx) project.</p>
                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Network</th>
                            <th scope="col">Description</th>
                            <th scope="col">Network</th>
                            <th scope="col">Description</th>
                            <th scope="col">Network</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">AdiposeSub</th>
                            <td>
                                Adipose Subcutaneous tissue.
                            </td>
                            <th scope="row">AdiposeVisceral</th>
                            <td>
                                Adipose Visceral (Omentum) tissue.
                            </td>
                            <th scope="row">AdrenalGland</th>
                            <td>
                                Adrenal Gland tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Amygdala</th>
                            <td>
                                Amygdala tissue.
                            </td>
                            <th scope="row">AntCingCortex</th>
                            <td>
                                Brain - Anterior Cingulate Cortex tissue.
                            </td>
                            <th scope="row">ArteryAorta</th>
                            <td>
                                Artery Aorta tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">ArteryCoronary</th>
                            <td>
                                Artery Coronary tissue.
                            </td>
                            <th scope="row">ArteryTibial</th>
                            <td>
                                Artery Tibial tissue.
                            </td>
                            <th scope="row">Breast</th>
                            <td>
                                Breast - Mamamry tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Caudate</th>
                            <td>
                                Brain - Caudate (basal ganglia) tissue.
                            </td>
                            <th scope="row">CellsFirbroblasts</th>
                            <td>
                                Cells - Cultured fibroblasts tissue.
                            </td>
                            <th scope="row">CellsLymphocytes</th>
                            <td>
                                Cells - EBV-transformed lymphocytes tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Cerebellum</th>
                            <td>
                                Brain - Cerebellum tissue.
                            </td>
                            <th scope="row">CerebHemisphere</th>
                            <td>
                                Brain - Cerebellar Hemisphere tissue.
                            </td>
                            <th scope="row">ColonSigmoid</th>
                            <td>
                                Colon - Sigmoid tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">ColonTransverse</th>
                            <td>
                                Colon - Transverse tissue.
                            </td>
                            <th scope="row">Cortex</th>
                            <td>
                                Brain - Cortex tissue.
                            </td>
                            <th scope="row">EsophGastJunction</th>
                            <td>
                                Esophagus - Gastroesophageal Junction tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">EsophMucosa</th>
                            <td>
                                Esophagus - Mucosa tissue.
                            </td>
                            <th scope="row">EsophMuscularis</th>
                            <td>
                                Esophagus - Muscularis tissue.
                            </td>
                            <th scope="row">FCortex</th>
                            <td>
                                Brain - Frontal Cortex (BA9) tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HeartAtrialApp</th>
                            <td>
                                Heart - Atrial Appendage tissue.
                            </td>
                            <th scope="row">HeartLeftVent</th>
                            <td>
                                Heart - Left Ventricle tissue.
                            </td>
                            <th scope="row">Hippocampus</th>
                            <td>
                                Brain - Hippocampus tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Hypothalamus</th>
                            <td>
                                Brain - Hypothalamus tissue.
                            </td>
                            <th scope="row">Liver</th>
                            <td>
                                Liver tissue.
                            </td>
                            <th scope="row">Lung</th>
                            <td>
                                Lung tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MuscleSkeletal</th>
                            <td>
                                Muscle - Skeletal tissue.
                            </td>
                            <th scope="row">NerveTibial</th>
                            <td>
                                Nerve - Tibial tissue.
                            </td>
                            <th scope="row">NucAccumbens</th>
                            <td>
                                Brain - Nucleus accumbens (basal ganglia) tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Ovary</th>
                            <td>
                                Ovary tissue.
                            </td>
                            <th scope="row">Pancreas</th>
                            <td>
                                Pancreas tissue.
                            </td>
                            <th scope="row">Pituitary</th>
                            <td>
                                Pituitary tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Prostate</th>
                            <td>
                                Prostate tissue.
                            </td>
                            <th scope="row">Putamen</th>
                            <td>
                                Brain - Putamen (basal ganglia) tissue.
                            </td>
                            <th scope="row">SkinLowerLeg</th>
                            <td>
                                Skin - Sun Exposed (Lower leg) tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">SkinSuprapubic</th>
                            <td>
                                Skin - Not Sun Exposed (Suprapubic) tissue.
                            </td>
                            <th scope="row">SmallIntestine</th>
                            <td>
                                Small Intestine - Terminal Ileum tissue.
                            </td>
                            <th scope="row">Spinalcord</th>
                            <td>
                                Brain - Spinal Cord (cervical c-1) tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Spleen</th>
                            <td>
                                Spleen tissue.
                            </td>
                            <th scope="row">Stomach</th>
                            <td>
                                Stomach tissue.
                            </td>
                            <th scope="row">Substantianigra</th>
                            <td>
                                Brain - Substantia nigra tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Testis</th>
                            <td>
                                Testis tissue.
                            </td>
                            <th scope="row">Thyroid</th>
                            <td>
                                Thyroid tissue.
                            </td>
                            <th scope="row">Uterus</th>
                            <td>
                                Uterus tissue.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Vagina</th>
                            <td>
                                Vagina tissue.
                            </td>
                            <th scope="row">WholeBlood</th>
                            <td>
                                Whole Blood tissue.
                            </td>
                            <th scope="row"></th>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div>
                <h3>nabec</h3>
                <p>
                    This category contains a gene co-expression network from RNA-seq control samples from Cortex tissue.
                </p>
            </div>
            <br />

        </div>
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_datasets").addClass("active");
        });

    </script>
}