
@{
    ViewData["Title"] = "Help_Introduction";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Help - Introduction</span>
    }
</div>
<div class="row">
    <div class="col-sm-11 about">
        <h2>Introduction</h2>
        <small>Created: April 04, 2019<br />Last updated: November 20, 2019</small>
        <p class="author">
            by <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Juan A. Botía">Juan A. Botía</a> and
            <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Sonia García-Ruiz">Sonia García-Ruiz</a>
        </p>
        <hr />
        <p>This is the first part of the tutorial series <a asp-area="" asp-controller="Run" asp-action="Help">"Getting started with CoExp WebPage application"</a>.</p>
        <div>
            <h3><a id="introduction" style="color:black;">Introduction</a></h3>

            <p>Let us suppose that we have a list of genes that we would like to annotate in the CoExp WebPage tool. In this example, we would be interested in answering the following questions:</p><br />
            <ul>
                <li>Does our set of genes cluster together within a specific co-expression module in a particular tissue? If so, is that clustering happening more 
                    significantly than would be expected by simple chance?
                </li>
                <li>Is the module in which the group of genes clusters together enriched by genes with a specific biological function?
                If so, what is the reliability of that prediction for each gene of interest?
                </li>
                <li>
                    Is the module in which the group of genes clusters together enriched for any kind of cell-type-specific marker?
                </li>
                <li>
                    Is the clustering of the genes-of-interest unique to a specific module and tissue? 
                    Or, on the contrary, has it been observed within multiple gene co-expression networks?

                </li>
            </ul><br />
            <p>Let us also suppose that our initial list of genes is composed of the monogenic forms of Parkinson's disease (PD), obtained from the Genomics England panel App (only the green genes):</p><br />
            <blockquote>
                <p>ATP13A2 ATP1A3 C19orf12 CSF1R DCTN1 DNAJC6 FBXO7 FTL GBA GCH1 GRN LRRK2 LYST MAPT OPA3 PANK2 PARK7 PINK1 PLA2G6 PRKN PRKRA RAB39B SLC30A10 SLC39A14 SLC6A3 SNCA SPG11 SPR SYNJ1 TH TUBB4A VPS13A VPS35 WDR45</p>
            </blockquote><br />
            <p>
                Thus, in order to answer the list of questions detailed above, the first thing we have to do is to choose which are the conditions in which we would like to study the genes.
                For that purpose, we will firstly surf through the network catalogue of genes available within the tab 'Network Catalog' on the CoExp WebPage tool.
            </p>
            <br />

            <p><span class="glyphicon glyphicon-chevron-right"></span><b>Next: </b><a asp-area="" asp-controller="Run" asp-action="Help_Catalogue">Surfing the Network Catalogue</a></p>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_help").addClass("active");
    });
    </script>
}

