
@{
    ViewData["Title"] = "Help - Catalogue";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Help - Network Catalogue</span>
    }
</div>
<div class="row">
    <div class="col-11 about">
        <h2>Network Catalogue</h2>
        <small>Created: April 04, 2019<br />Last updated: Jan 07, 2021</small>
        <p class="author">
            by <a href="https://github.com/SoniaRuiz" target="_blank" title="Sonia García-Ruiz">Sonia García-Ruiz</a> and
            <a href="https://github.com/juanbot" target="_blank" title="Juan A. Botía">Juan A. Botía</a>
        </p>
        
        <hr class="menu-hr" />
        <div>
            @*<p>This is the second part of the tutorial series <a asp-area="" asp-controller="Run" asp-action="Help">"Getting started with CoExp Web Application"</a>.</p>
        <p><span class="glyphicon glyphicon-chevron-left"></span><b>Previous: </b><a asp-area="" asp-controller="Run" asp-action="Help_Introduction">Introduction</a></p>*@

            <h3>Network Catalogue</h3>
            <span>
                <b>'Network Catalogue'</b> has been created to find new biological function linkages and cell-type markers enrichment. This tab also allows the user performing exploratory analysis of the
                gene co-expression networks published to find such linkages.
            </span>
            <div class="center-block text-center">


                <video width="420" height="340" controls class="text-center">

                    <source src="~/images/help/CoExp_catalogue.mp4" type="video/mp4">
                </video>
            </div>
            <br />
            <h3>Gene Ontology</h3>
            <p>
                Let's run an example! <br /><br />
                First, we select the '10UKBEC' category and its 'SNIG' co-expression network from the left-hand side menu. Second, we select both 'Gene Ontology' and 'Cell Type' views and click the 'Accept' button.<br />
                The <b>'Gene Ontology'</b> view returns a datatable containing very useful information about the genes from the 'SNIG' network. 
            In this example, the module 'purple' clusters together 498 different genes from the UKBEC substantia nigra tissue,
                linking them with the <b>development or functioning of the immune system</b>. That linkage is very unlikely to occur by chance (it is supported by a very significant p-value = 8.55e-55).
            </p><br />
            <div class="figure">
                <img src="~/images/help/network_gene_ontology.PNG"
                     alt="Available categories" title="Fig1: Available categories." />
            </div>
            <br /><br />
            <p>
                In this particular example, we can see that the "SNIG" network has returned 1718 annotations related to different biological functionality obtained from the Gene Ontology, REACTOME and KEGG pathways databases.
            </p>
            <p>
                Now, let us suppose that we want to obtain all modules that present genes with significant association to the "RNA processing" term. For that purpose, we can use the "Search" field, which is placed in the upper right-hand side of the table.
                After typing "RNA processing" in that field, we have obtained only 8 modules that present genes significantly associated with the "RNA processing" term.
            </p>
            <p>
                Please, also notice the three buttons ("Copy", "Excel" and "Print") placed in the upper part of the table. All of them will allow you to copy the content of the table to the clipboard,
                download that content into an excel file or send it to a printer. In addition, the columns from the data table returned contain the following information:
            </p>
            <table class="table table-striped table-bordered table-responsive nowrap">
                <thead>
                    <tr>
                        <th>COLUMN</th>
                        <th>DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>module</th>
                        <td>
                            It contains the module, within the selected network, that the annotation term obtained refers to.
                            Each module is named by one different color, therefore, each color represents each cluster where the genes have been grouped together.
                        </td>
                    </tr>
                    <tr>
                        <th>p.value</th>
                        <td>
                            To annotate each gene within each module, CoExpNets R package has used the <a href="https://biit.cs.ut.ee/gprofiler/gost" target="_blank" title="Link to visit gProfiler webpage">gProfiler</a> tool.
                            This p-value column, therefore, refers to how significant is the overlap of genes associated with the term and the genes from the current module.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">module.size</th>
                        <td>This column refers to the total number of genes found in the current module.</td>
                    </tr>
                    <tr>
                        <th scope="row">ontology</th>
                        <td>
                            This column contains the annotation ontology terms. They can refer to Biological Processes (BP), Cellular Component (CC) or Molecular Function (MF) terms.
                            All three are sub-ontologies from the <a href="http://geneontology.org/" target="_blank" title="Link to visit the Gene Ontology project website">Gene Ontology</a> project.
                            In addition, this column can also contain the terms <b>"rea"</b> and <b>"keg"</b>, which refer to the <a href="https://reactome.org/" target="_blank" title="Link to visit the REACTOME project website">REACTOME</a>
                            and <a href="https://www.genome.jp/kegg/ko.html" target="_blank" title="Link to visit the KEGG project website">KEGG</a> ontologies respectively.
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <h3>Cell Type</h3>
            <p>
                Similarly, a very significant p-value (p-value = 2.06e-91) supports the linkage of the beforementioned 498 genes from the 'purple' module with <b>microglia</b> cell type.
            </p>

            <div class="figure">
                <img src="~/images/help/network_cell_type.PNG"
                     alt="Available categories" title="Fig1: Available categories." />
                @*<p><small class="help_caption">Fig1: All available categories.</small></p>*@
            </div>
            <br />



            @*<p>
            Now, let us suppose that we are interested in finding only those modules that are specific to the "microglia". After typing the "microglia" term on the 'Search' field,
            In this case, the table "By Cell Type" returns the results of testing different marker sets (cell type markers particularly) against all modules.
            The values that are shown in the table therefore refer to the significance of each result obtained. Thus, the table will contain one column per each module studied and one row per each marker compared.
        </p>
        <div class="figure">
            <img src="~/images/microglia.png"
                 alt="Modules in the Caudate specific to microglial cell type" title="Fig5: Modules in the Caudate specific to microglial cell type." />
            <p><small class="help_caption">Fig5: Modules in the Caudate specific to microglial cell type.</small></p>
        </div>
        <p>
            And we can see <b>cyan</b>, <b>pink</b> and to a lesser extent <b>grey60</b>, show enrichment for microglial markers.
            The marker sets can be seen within the table rows. Having modules as, for example, cyan with significant signals in more than 1 datasets, must be understood one module having alternative evidence of similar phenomena but in different datasets.
            Apart from the significance reflected by the p-value (i.e. which comes from testing the significance of the overlap between the genes in the module and the genes in the marker set),
            the more signals related to microglia are significant, the more confident we should be about that.
            Note that in this case, we distinguish between deactivated (Type 1) and activated microglia (Type 2) in modules cyan and pink respectively.
            In that way, cyan and pink are reflecting different events of the same phenomena. Actually, if we now look at "By Ontology" by module names and order by ontology to get the REACTOME terms first, we get:
        </p>
        <div class="figure">
            <img src="~/images/cyan.png"
                 alt="REACTOME terms in the cyan module" title="Fig6: REACTOME terms in the cyan module." />
            <p><small class="help_caption">Fig6: REACTOME terms in the cyan module.</small></p>
        </div>
        <p>On the other hand, for the pink term we have:</p>
        <div class="figure">
            <img src="~/images/pink.png"
                 alt="REACTOME terms in the pink module" title="Fig7: REACTOME terms in the pink module." />
            <p><small class="help_caption">Fig7: REACTOME terms in the pink module.</small></p>
        </div>
        <p>
            It seems clear that both modules share generic terms (e.g. Immune System, Innate Immune System). In addition, there are specific terms for each one of them, i.e. "Adaptive immune system" for cyan and
            "Cytokine signaling in the immune system" for pink.
        </p>
        <p>Other kinds of "cell type" searches may include, for instance, PD or dopaminergic neurons. Let's try it with the <b>dopa</b> term:</p>
        <div class="figure">
            <img src="~/images/dopa.png"
                 alt="Modules in Caudate related with dopaminergic neurons" title="Fig8: Modules in Caudate related with dopaminergic neurons." />
            <p><small class="help_caption">Fig8: Modules in Caudate related with dopaminergic neurons.</small></p>
        </div>
        <p>
            In this case, we have obtained only three different results matching with the "dopa" term. It is important to highlight that, albeit the enrichment p-values
            may not be highly remarkable, they can be modest p-value signals pointing us to something important.
        </p>

        <br />*@

        </div><hr />
        <p><span class="glyphicon glyphicon-chevron-right"></span><b>Next tutorial: </b><a asp-area="" asp-controller="Run" asp-action="Help_Annotation">Gene Set Annotation</a></p><br />
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_help").addClass("active");
    });

    </script>
}