
@{
    ViewData["Title"] = "Help";
}
<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Help</span>
        @*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
    }
    @*@if (ViewContext.RouteData.Values["action"].ToString() != "Index")
        {
            @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
        }*@
</div>
<div class="row">
    <div class="col-sm-11 about">
        <h2>Getting started with CoExp WebPage application</h2>
        <small>Created: April 04, 2019<br />Last updated: November 22, 2019</small>
        <p class="author">
            by <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Juan A. Botía">Juan A. Botía</a> and
            <a href="https://rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Sonia García-Ruiz">Sonia García-Ruiz</a>
        </p>
        <hr class="menu-hr" />
        <div>
            <p>
                CoExp WebPage is a webpage tool developed in .NET Core Framework, for the easy use of <a href="https://github.com/juanbot/CoExpNets" target="_blank" title="CoExp R suite-of-packages available on GitHub">CoExp R suit-of-packages</a> (author: Juan A. Botía) - a framework for the generation, deployment,
                sharing and exploitation of co-expression networks as annotation models of genes and their role in transcription.
                <br /><br />
                In order to increase the ease-of-use of CoExp R suit-of-packages, we built a web-based UI because it is undeniable that a web-page format is
                the most well-known and accepted way of browsing the Internet around the world. In this sense, we believe that a web-page structure will make CoExp's networks
                easily accessible to every potential user around the world, at any time and from anywhere they decide to do so. Thus, all CoExp R suit-of-packages' models
                are available and ready-to-use within CoExp WebPage application, and <b>can be accessed and used for your own research</b>.
                <br /><br />
                Finally, the main purpose of this page is to provide a detailed tutorial about how to effectively use the UI of the CoExp Webpage. This tutorial has been divided into
                three main sections, which are detailed below.
            </p>

            <br /><h4><a asp-area="" asp-controller="Run" asp-action="Help_Introduction">INTRODUCTION</a></h4><br />
            <p>
                This is the "Getting Started" tutorial. It contains the details of the use-of-case that we are going to use throughout  the whole series.
            </p>

            <br /><h4><a asp-area="" asp-controller="Run" asp-action="Help_Catalogue">NETWORK CATALOG</a></h4><br />
            <p>
                This is the second tutorial of the series. It contains information about how to use the 'Network Catalogue' tab.
            </p>

            <br /><h4><a asp-area="" asp-controller="Run" asp-action="Help_Annotation">GENE SET ANNOTATION</a></h4><br />
            <p>
                This is the third tutorial of the series. It contains information about how to use the 'Gene Set Annotation' tab.
            </p>


        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_help").addClass("active");
    });

    </script>
}
