
@{
    ViewData["Title"] = "Help - Catalog";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Help - Network Catalog</span>
    }
</div>
<div class="row">
    <div class="col-sm-11 about">
        <h2>Surfing the catalog</h2>
        <small>Created: April 04, 2019<br />Last updated: November 22, 2019</small>
        <p class="author">
            by <a href="http://www.rytenlab.com/RytenLab/MemberInfo?Id=BP98-F74160" target="_blank" title="Juan A. Botía">Juan A. Botía</a> and
            <a href="http://www.rytenlab.com/RytenLab/MemberInfo?Id=LO96_F34158" target="_blank" title="Sonia García-Ruiz">Sonia García-Ruiz</a>
        </p>
        <hr class="menu-hr" />
        <div>
            <p>This is the second part of the tutorial series <a asp-area="" asp-controller="Run" asp-action="Help">"Getting started with CoExp WebPage application"</a>.</p>
            <p><span class="glyphicon glyphicon-chevron-left"></span><b>Previous: </b><a asp-area="" asp-controller="Run" asp-action="Help_Introduction">Introduction</a></p>

            <h3><a id="surfing" style="color:black;">Surfing the catalog</a></h3>
            <p>
                As we introduced in the <a asp-area="" asp-controller="Run" asp-action="Help_Introduction">previous</a> tutorial, in this example we would like to annotate a list of genes
                composed by the monogenic forms of Parkinson disease, which have been obtained from the Genomics England panel App (only the green genes). Thus, firstly we will move into the tab "Network Catalog".
                Secondly, we will check the different categories available within the dropdown menu 'Categories', which is placed in the left-hand side section of the webpage:
            </p>
            <div class="figure">
                <img src="~/images/category.png"
                     alt="Available categories" title="Fig1: Available categories." />
                <p><small class="help_caption">Fig1: All available categories.</small></p>
            </div>
            <p>If everything has gone as expected, the following list of categories should be now displayed within the 'Categories' dropdown:</p>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">GitHub</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ROSMAP</th>
                        <td>
                            This category is composed by four networks (all samples, not AD, probable AD and AD) obtained from Frontal Cortex samples. For any further information, please visit
                            <a href="https://www.synapse.org/#!Synapse:syn3219045" target="_blank" title="Visit 'ROSMAP' project">this</a> link.
                        </td>
                        <td><a href="http://github.com/juanbot/CoExpROSMAP" class="uri" target="_blank" title="Visit 'CoExpROSMAP' GitHub repository">http://github.com/juanbot/CoExpROSMAP</a></td>
                    </tr>
                    <tr>
                        <th scope="row">GTEx V6</th>
                        <td>It containes 47 co-expression networks on control tissue, including 13 brain areas.</td>
                        <td><a href="http://github.com/juanbot/CoExpGTEx" class="uri" target="_blank" title="Visit 'CoExpGTEx' GitHub repository">http://github.com/juanbot/CoExpGTEx</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10UKBEC</th>
                        <td>These are 10 Illumina microarray based gene expression profiling networks from brain tissue</td>
                        <td><a href="http://github.com/juanbot/CoExp10UKBEC" class="uri" target="_blank" title="Visit 'CoExp10UKBEC' GitHub repository">http://github.com/juanbot/CoExp10UKBEC</a></td>
                    </tr>
                    <tr>
                        <th scope="row">GTEx V7</th>
                        <td>This category contains a beta version of the same GTExV6 47 co-expression networks.</td>
                        <td><a href="http://github.com/juanbot/CoExpGTExV7" class="uri" target="_blank" title="Visit 'CoExpGTExV7' GitHub repository">http://github.com/juanbot/CoExpGTExV7</a></td>
                    </tr>
                    <tr>
                        <th scope="row">NABEC</th>
                        <td>This category contains a gene co-expression network created from RNA-seq control Cortex samples, which have been quantified at transcript level with Salmon.</td>
                        <td><a href="http://github.com/juanbot/CoExpNABEC" class="uri" target="_blank" title="Visit 'CoExpNABEC' GitHub repository">http://github.com/juanbot/CoExpNABEC</a></td>
                    </tr>
                </tbody>
            </table>

            <p>Let's select <b>gtexv6</b> category. The next thing we should be able to see, is the 'Network' dropdown field filled with the 47 GTEx tissues, as it's shown in the image below:</p>
            <div class="figure">
                <img src="~/images/gtexv6.png"
                     alt="Available networks under GTExV6" title="Fig2: Available networks under GTExV6." />
                <p><small class="help_caption">Fig2: Available networks after selecting GTExV6 category.</small></p>
            </div>

            <br /><h4><u>"BY ONTOLOGY" tab</u></h4>
            <p>
                In this example, we are going to select the 'Caudate' tissue. After selecting it, the dropdown field 'Module Selection' should be now enabled and filled by two different options: "By Ontology" and "By Cell Type".
                Both options refer to two different ways of visualising the results. The "By Ontology" option, will generate a table showing the function annotation of the 'Caudate' genes. On the other hand, the "By Cell Type"
                option, will generate a different table containing the cell type annotation of the genes within the 'Caudate' network.
                In terms of the "By Ontology" view, the generated table will contain the following set of columns:
            </p>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Column name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">module</th>
                        <td>It contains the module, wihtin the selected network, that the annotation term obtained refers to.</td>
                    </tr>
                    <tr>
                        <th scope="row">p.value</th>
                        <td>
                            In order to annotate each gene within each module, CoExp R suit-of-packages has made use of the <a href="https://biit.cs.ut.ee/gprofiler/gost" target="_blank" title="Link to visit gProfiler webpage">gProfiler</a> tool.
                            This p-value column, therefore, refers to how significant is the overlap of genes associated to both the term and genes found in the current module.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">module.size</th>
                        <td>This column refers to the total number of genes found in the current module.</td>
                    </tr>
                    <tr>
                        <th scope="row">ontology</th>
                        <td>
                            This column contains the annotation ontology terms. They can refer to Biological Process (BP), Cellular Component (CC) and Molecular Function (MF) respectively.
                            All of them are subontologies from the <a href="http://geneontology.org/" target="_blank" title="Link to visit the Gene Ontology project website">Gene Ontology</a> project.
                            In addition, this column can also contain the terms "rea" and "keg", which refer to the <a href="https://reactome.org/" target="_blank" title="Link to visit the REACTOME project website">REACTOME</a>
                            and <a href="https://www.genome.jp/kegg/ko.html" target="_blank" title="Link to visit the KEGG project website">KEGG</a> ontologies respectively.
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>Next, after clicking the "Accept" button, a table - similar to the following one - will appear into the right-hand side of the webpage.</p>
            <div class="figure">
                <img src="~/images/caudate.png"
                     alt="'By Ontology' visualisation of the Caudate network" title="Fig3: 'By Ontology' visualisation of the Caudate network" />
                <p><small class="help_caption">Fig3: 'By Ontology' visualisation of the 'Caudate' network.</small></p>
            </div>
            <p>
                Please, notice the three buttons ("Copy", "Excel" and "Print") placed in the upper part of the table. All of them will allow you to copy the content of the table to the clipboard,
                download that content into an excel file or send it to a printer.
            </p><br />

            <p>
                On the other hand, as you may have noticed, every co-expression network is composed by a set of modules.
                Each module, which is represented within the column "module", is named by one different color.
                In this sense, each color represents each cluster where the genes have been grouped in. In our particular example, we can see that the "Caudate" module has 3,914 annotations related to different functionality,
                which has been mainly obtained from the Gene Ontology, REACTOME and KEGG pathways databases. <br /><br />
                Now, let us suppose that we want to obtain all terms related with "RNA processing". For that purpose, we can use the "Search" field, which is placed in the upper right-hand side of the table.
                After typing "RNA processing" in that field, we have obtained only 19 terms out of the 3914 total terms available.
            </p>
            <div class="figure">
                <img src="~/images/rnaprocessing.png"
                     alt="Modules in the Caudate related to RNA processing in any way" title="Fig4: Modules in the Caudate related to RNA processing in any way." />
                <p><small class="help_caption">Fig4: Modules in the Caudate related to RNA processing in any way.</small></p>
            </div>
            <p>
                If we now focus on the results obtained above, we can see that the <b>darkred</b> module can be a good candidate for studying "RNA processing" within the "Caudate" tissue (its p-value is very significant).
                In addition, there are other modules hosting different terms. Note that we can order the terms by using the <b>ontology</b> column, so we can group them by the ontology they belong to.
                Also, on the left-hand side of each row, there is a green button with the <b>"+"</b> sign. If we click on it, we will get some extra information for the current row.
                The amount of the extra information showed, directly depends on the context of each row. But in any case, all genes appearing there, are the genes from the current module that are implicated on the
                overlap occurring between that particular module and the ontology term.
            </p>


            <br /><h4><u>"BY CELL TYPE" tab</u></h4>
            <p>
                Now, let us suppose that we are interested on finding only those modules that are specific to the "microglia". As we have selected to search not only by ontology but also by cell type,
                we can go to the "By Cell Type" tab, and use the "Search" pane to filter the table by the "microglia" term.
                In this case, the table "By Cell Type" returns the results of testing different marker sets (cell type markers particularly) against all modules.
                The values shown in the table, therefore, refer to the significance of each result obtained. Thus, the table will contain one column per each module studied and one row per each marker compared.
            </p>
            <div class="figure">
                <img src="~/images/microglia.png"
                     alt="Modules in the Caudate specific to microglial cell type" title="Fig5: Modules in the Caudate specific to microglial cell type." />
                <p><small class="help_caption">Fig5: Modules in the Caudate specific to microglial cell type.</small></p>
            </div>
            <p>
                And we can see <b>cyan</b>, <b>pink</b> and to a lesser extent <b>grey60</b>, show enrichment for microglial markers.
                All marker sets can be seen on the rows. Having modules as, for example, cyan with significant signals in more than 1 datasets, must be understood in the sense of having alternative
                evidences of similar phenomena. Apart from the significance reflected by the p-value (i.e. which comes from testing the significance of the overlap between the genes in the module and the genes in the marker set),
                the more signals related to microglia are significant, the more confident we should be about that.
                Note that in this case, we distinguish between deactivated (Type 1) and activated microglia (Type 2) in modules cyan and pink respectively.
                In that way, cyan and pink are reflecting different events of the same phenomena. Actually, if we now look at “By Ontology” by module names and order by ontology to get the REACTOME terms first, we get:
            </p>
            <div class="figure">
                <img src="~/images/cyan.png"
                     alt="REACTOME terms in the cyan module" title="Fig6: REACTOME terms in the cyan module." />
                <p><small class="help_caption">Fig6: REACTOME terms in the cyan module.</small></p>
            </div>
            <p>On the other hand, for the pink term we have:</p>
            <div class="figure">
                <img src="~/images/pink.png"
                     alt="REACTOME terms in the pink module" title="Fig7: REACTOME terms in the pink module." />
                <p><small class="help_caption">Fig7: REACTOME terms in the pink module.</small></p>
            </div>
            <p>
                It seems clear that both modules share generic terms (e.g. Immune System, Innate Immune System). In addition, there are specific terms for each one of them, i.e. "Adaptive immune system" for cyan and
                "Cytokine signaling in immune system" for pink.
            </p>
            <p>Other kinds of "cell type" searches may include, for instance, PD or dopaminergic neurons. Let's try it with the <b>dopa</b> term:</p>
            <div class="figure">
                <img src="~/images/dopa.png"
                     alt="Modules in Caudate related with dopaminergic neurons" title="Fig8: Modules in Caudate related with dopaminergic neurons." />
                <p><small class="help_caption">Fig8: Modules in Caudate related with dopaminergic neurons.</small></p>
            </div>
            <p>In this case, we have only obtained three different results matching with the "dopa" term. It is important to highlight that, albeit the enrichment p-values 
            may not be highly remarkable, they can be modest p-value signals pointing us to something important.</p>

            <br />

        </div><hr />
        <p><span class="glyphicon glyphicon-chevron-right"></span><b>Next: </b><a asp-area="" asp-controller="Run" asp-action="Help_Annotation">Annotating your genes</a></p>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_help").addClass("active");
    });

    </script>
}