@{
    ViewData["Title"] = "CoExp Web Application";
}


<div class="row">

    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="home-video">
            <video autoplay="" loop="" muted="" class="vid-bg aos-init aos-animate" data-aos="fade-right" data-aos-delay="500">
                <source type="video/mp4" src="/images/abstract_line1.mp4">
            </video>
        </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="home-text">
            <h1>CoExp Web Application</h1>
            <h2>Exploring networks by gene ontology and cell type</h2>
            <h2>Annotate a list with your preferred genes</h2>
            <h2>Plot your genes of interest</h2>

        </div>
    </div>


</div>