
@{
    ViewData["Title"] = "Plot";
}

<header>
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <b>CoExp</b>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink("Plot", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</header>
<div class="row">
    <nav class="col-sm-3 sidebar">
        <br />
        <h4>Please, make your selection:</h4>
        <br />

        <label for="category">Category</label>
        <select id="category" name="category" class="selectpicker" title="Select an option ..."></select>
        <br /><br />

        <label for="network">Network</label>
        <select id="network" name="network" class="selectpicker" title="Select an option ..."></select>
        <br /><br />


        <label for="module_selection">Module</label>
        <select id="module_selection" class="selectpicker" title="Select an option ...">
            <option value="black" selected>Black</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="red">Red</option>
        </select>
        <br /><br />

        <label for="genes-range">Number of genes</label>
        <input id="genes-range" type="range" min="2" max="30" value="30" link-to="text-box_genes-range">
        <input id="text-box_genes-range" type="text" value="30">
        <br /><br />

        <button id="send_button" class="btn btn-primary">Accept</button>
    </nav>

    <main>
        <nav class="col-sm-9">
            <br />
            <table align="center" width="800" height="600" border="1" id="network_plot_table">
                <td>
                    <div id="network_plot" width="800" height="600"></div>
                </td>
            </table>
            <br />
            <div id="button_area" class="pull-right" style="margin-right:20px;">
                <button id="save_plot" class="btn btn-primary" href="#" role="button">Save Plot</button>
                <button id="save_data" class="btn btn-primary" href="#" role="button">Save Data</button>

            </div>
            <br />
            <table align="center" width="500" height="20" border="0" style="display: table;" id="table_treshold">
                <tbody>
                    <tr>
                        <td align="center">
                            Link threshold<br />
                            <input id="slider-range-treshold" type="range" link-to="threshold_network">
                            <input id="threshold_network" type="text" size="40" style="text-align: center" value=""><br />
                            <font size="1">The links shown above are over this threshold value</font>
                        </td>

                        <td align="center">
                            <label for="hide_nodes">Hide isolated nodes</label>
                            <input id="hide_nodes" type="checkbox" name="hide_nodes">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="dvjson"></div>
        </nav>
    </main>
    <div class="modal"><!-- loading layer --></div>
</div>
@section Scripts{

    <script src="~/js/d3.v3.min.js"></script>   
    <script src="~/js/bootstrap-select.js"></script>
    <environment include="Development">
        <script src="~/js/api.js"></script>
        <script src="~/js/net_v2.js"></script>
    </environment>
    <environment include="Production,Private">
        <script src="~/js/api.min.js"></script>
        <script src="~/js/net_v2.min.js"></script>
    </environment>


    <script src="~/js/xlsx.full.min.js"></script>

    <script>
        $(document).ready(function () {

            API.prototype.menuInit(4);

            $(function () {
                $('input').filter(function () { return this.type == 'range' }).each(function () {
                    let $slider = $(this);
                    let $text_box = "";
                    if ($(this)[0].id == "genes-range") {
                        $text_box = $('#text-box_genes-range');
                        $text_box.val(this.value);
                    } else {
                        $text_box = $('#threshold_network');
                    }

                    $slider.change(function () {
                        $text_box.val(this.value);
                    });

                    $text_box.change(function () {
                        $slider.val($text_box.val());
                    });
                });
            });

        });
    </script>
}

