
@{
    ViewData["Title"] = "Plot Gene Network";
}

    <div class="breadcrumb">
        @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
        {
            <span class="main-label-breadcrumbs">CoExp</span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="active">Plot Gene Network</span>
        }
        @*@if (ViewContext.RouteData.Values["action"].ToString() != "Index")
        {
            @Html.ActionLink("Plot", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
        }*@
    </div>
<div class="row">
    <div class="col-sm-3 sidebar menu">
        <h4>Please, make your selection:</h4>
        <hr class="menu-hr" />

        <div id="step1">
            <label for="category_dropdown">Category</label><br />
            <select id="category_dropdown" name="category" class="selectpicker" title="Select an option ..."></select>
        </div>
        <br>

        <div id="step2">
            <label for="network_dropdown">Network</label><br />
            <select id="network_dropdown" name="network" class="selectpicker" title="Select an option ..."></select>
        </div>
        <br>

        <div id="step3">
            <label for="module_dropdown">Module</label><br />
            <select id="module_dropdown" name="module" class="selectpicker" title="Select an option ..."></select>
        </div>
        <br>

        <div id="step4">
            <label for="genes-range">Number of genes</label><br />
            <input id="genes-range" type="range" min="2" max="30" value="30">
            <input id="text-box_genes-range" type="text" value="30">
        </div>

        <br>
        <hr class="menu-hr" />

        <div id="step5">
            <button id="send_button" class="btn btn-primary">Accept</button>
        </div>
    </div>

    <div id="step6" class="col-md-9">
        
        <div id="empty-initial-results">
            <p>Your results will appear here.</p>
        </div>
        
        <div id="plot_area">
            <table id="network_plot_table">
                <tr>
                    <td>
                        <div id="network_plot" class="text-center"></div>
                    </td>
                </tr>
            </table>
            <br>
            <div id="button_area" class="pull-right" style="margin-right:20px;">
                <button id="save_plot" class="btn btn-primary">Save Graph</button>
                <button id="save_data" class="btn btn-primary">Save Data</button>

            </div>
            <br>
            <table id="table_treshold">
                <tbody>
                    <tr>
                        <td><h4>Link threshold</h4>
                            <input id="slider-range-treshold" type="range">
                            <input id="threshold_network" type="text" size="30" value=""><br/>
                            <small>The links shown above are over this threshold value</small><br />
                            <div class="center-block">
                                <input id="hide_nodes" type="checkbox" name="hide_nodes" class="plot-checkbox">
                                <label for="hide_nodes">Hide isolated nodes</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="dvjson"></div>
        </div>
    </div>
    <div class="loading_layer"><!-- loading layer --></div>
</div>
@section Scripts{

    <script type="text/javascript" src="~/js/d3.v3.min.js"></script>   
    <script type="text/javascript" src="~/js/bootstrap-select.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/api.js"></script>
        <script type="text/javascript" src="~/js/net_v2.js"></script>
    </environment>
    <environment include="Production,Private">
        <script type="text/javascript" src="~/js/api.min.js"></script>
        <script type="text/javascript" src="~/js/net_v2.min.js"></script>
    </environment>


    <script type="text/javascript" src="~/js/xlsx.full.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_plot").addClass("active");

            API.prototype.menuInit(4);

            $(function () {
                $('input').filter(function () { return this.type == 'range' }).each(function () {
                    let $slider = $(this);
                    let $text_box = "";
                    if ($(this)[0].id == "genes-range") {
                        $text_box = $('#text-box_genes-range');
                        $text_box.val(this.value);
                    } else {
                        $text_box = $('#threshold_network');
                    }

                    $slider.change(function () {
                        $text_box.val(this.value);
                    });

                    $text_box.change(function () {
                        $slider.val($text_box.val());
                    });
                });
            });

            $('#empty-initial-results').css("visibility", "visible");
            startIntro();

        });

        function startIntro() {
            var intro = introJs();
              intro.setOptions({
                steps: [
                  {
                    element: '#step1',
                        intro: "<div class='customHelpHeader'>Category</div><p>Select here your preferred type of co-expression networks.</p>",
                        position: 'right',
                
                    tooltipClass: 'customStep1'
                  },
                  {
                    element: '#step2',
                    intro: "<b>Network</b><br/><br/>Select here your preferred co-expression network.",
                    position: 'right'
                  },
                  {
                    element: '#step3',
                    intro: "<b>Module</b><br/><br/>Select how you would like to visualize the results.",
                    position: 'right'
                  },
                  {
                    element: '#step4',
                    intro: "<b>Number of genes</b><br/><br/>Select how many genes you would like the graph to have.",
                    position: 'right'
                  },
                  {
                    element: '#step5',
                    intro: "<b>Accept</b><br/><br/>Once you are ready, press 'Accept' to send your query.",
                    position: 'right'
                  },
                  {
                    element: '#step6',
                    intro: "<b>Results</b><br/><br/>This is the results area. Here will appear all your results.",
                    position: 'bottom'
                  }
                ]
              });

                var doneTourPlot = sessionStorage.getItem('EventTourPlot') === 'Completed';
                if (doneTourPlot) {
                    return;
                }
                else {
                    intro.start();

                    intro.oncomplete(function () {
                        sessionStorage.setItem('EventTourPlot', 'Completed');
                    });

                    intro.onexit(function () {
                        sessionStorage.setItem('EventTourPlot', 'Completed');
                    });
                }

          }
    </script>
}

