
@{
    ViewData["Title"] = "Plot";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <b>CoExp</b>@*@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())*@
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @:> @Html.ActionLink("Plot", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
    }
</div>
<div class="row">
    <div class="col-sm-3 sidebar">
        <br>
        <h4>Please, make your selection:</h4>
        <br>

        <label for="category_dropdown">Category</label>
        <select id="category_dropdown" name="category" class="selectpicker" title="Select an option ..."></select>
        <br><br>

        <label for="network_dropdown">Network</label>
        <select id="network_dropdown" name="network" class="selectpicker" title="Select an option ..."></select>
        <br><br>


        <label for="module_selection">Module</label>
        <select id="module_selection" class="selectpicker" title="Select an option ...">
            <option value="black" selected>Black</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="red">Red</option>
        </select>
        <br><br>

        <label for="genes-range">Number of genes</label>
        <input id="genes-range" type="range" min="2" max="30" value="30">
        <input id="text-box_genes-range" type="text" value="30">
        <br><br>

        <button id="send_button" class="btn btn-primary">Accept</button>
    </div>

    <div class="col-sm-9">
        <br>
        <table id="network_plot_table" >
            <tr>
                <td>
                    <div id="network_plot"></div>
                </td>
            </tr>
        </table>
        <br>
        <div id="button_area" class="pull-right" style="margin-right:20px;">
            <button id="save_plot" class="btn btn-primary">Save Plot</button>
            <button id="save_data" class="btn btn-primary">Save Data</button>

        </div>
        <br>
        <table id="table_treshold">
            <tbody>
                <tr>
                    <td >
                        Link threshold<br>
                        <input id="slider-range-treshold" type="range">
                        <input id="threshold_network" type="text" size="40" value=""><br>
                        <small>The links shown above are over this threshold value</small>
                    </td>

                    <td>
                        <label for="hide_nodes">Hide isolated nodes</label>
                        <input id="hide_nodes" type="checkbox" name="hide_nodes">
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="dvjson"></div>
    </div>
    <div class="modal"><!-- loading layer --></div>
</div>
@section Scripts{

    <script type="text/javascript" src="~/js/d3.v3.min.js"></script>   
    <script type="text/javascript" src="~/js/bootstrap-select.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/api.js"></script>
        <script type="text/javascript" src="~/js/net_v2.js"></script>
    </environment>
    <environment include="Production,Private">
        <script type="text/javascript" src="~/js/api.min.js"></script>
        <script type="text/javascript" src="~/js/net_v2.min.js"></script>
    </environment>


    <script type="text/javascript" src="~/js/xlsx.full.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            API.prototype.menuInit(4);

            $(function () {
                $('input').filter(function () { return this.type == 'range' }).each(function () {
                    let $slider = $(this);
                    let $text_box = "";
                    if ($(this)[0].id == "genes-range") {
                        $text_box = $('#text-box_genes-range');
                        $text_box.val(this.value);
                    } else {
                        $text_box = $('#threshold_network');
                    }

                    $slider.change(function () {
                        $text_box.val(this.value);
                    });

                    $text_box.change(function () {
                        $slider.val($text_box.val());
                    });
                });
            });

        });
    </script>
}

