
@{
    ViewData["Title"] = "Plot Gene Network";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Plot Gene Network</span>
    }
</div>

<environment include="Development,Production">
    <div class="row">
        <div class="col-sm-3 sidebar menu">
            @*<h4>Please, make your selection:</h4>
            <hr class="menu-hr" />*@

            <div id="step1">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<p><b>Category</b> of gene co-expression networks. For further information, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="category_dropdown">Category:</p>

                <select id="category_dropdown" name="category" class="selectpicker" title="Select an option ..."></select>
            </div>
            <br>

            <div id="step2">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<p><b>Gene co-expression networks</b> that belong to the selected category. For further information, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="network_dropdown">Network:</p>

                <select id="network_dropdown" name="network" class="selectpicker" data-live-search="true" data-size="7" title="Select an option ..."></select>
            </div>
            <br>

            <div id="step3">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<p><b>Modules</b> from the selected network. Each module represents a different cluster of genes, therefore, each gene will be clustered only once.</p>">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="module_dropdown">Module:</p>

                <select id="module_dropdown" name="module" class="selectpicker" data-live-search="true" data-size="7"
                        title="Select an option ..."></select>
            </div>
            <br>

            <div id="step4">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="Contains all genes that belong to the selected module.<br/> Please, select one or more genes of interest.">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="gene_dropdown">Gene of interest:</p>

                <select id="gene_dropdown" name="gene" class="selectpicker" multiple 
                        data-live-search="true" 
                        data-size="7"
                        data-allow-clear="true"
                        data-actions-box="true"
                        title="Select a gene ..."> </select>
            </div>
            <hr class="menu-hr" />
            <div id="step5">
                <button id="send_button" class="btn btn-primary">Accept</button>
            </div>
        </div>

        <div id="step6" class="col-md-9">

            <div id="empty-initial-results">
                <p>Your results will appear here.</p>
            </div>

            <div id="plot_area">

                <div id="cy"></div>

                <div id="dvjson"></div>
            </div>

        </div>
        <div id="button_area" class="col-md-3" hidden>
            <a id="save-plot" class="btn btn-primary" role="button" href="" download="plot_graph_CoExpWebApplication.png">Save Graph</a>
            <a id="save-data" class="btn btn-primary" role="button" href="" download="plot_data_CoExpWebApplication.json">Save Data</a>


        </div>
        <div class="loading_layer"><!-- loading layer --></div>
    </div>
</environment>



@section Scripts{

    


    <script type="text/javascript">

        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip()
            $("[data-placement='bottom']").popover();

            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_plot").addClass("active");
            $("#empty-initial-results").css("visibility", "visible");
            API.prototype.menuInit(4);

        });

        function startIntro() {
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: '#step1',
                        intro: "<p><b>Category</b></p><p>Please, select here a category of co-expression networks.<br/><br/>It has been pre-selected the <b>'10UKBEC'</b> category. For further information about the networks, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>",
                        position: 'right',

                        tooltipClass: 'customStep1'
                    },
                    {
                        element: '#step2',
                        intro: "<b>Network</b><br/><br/>These are all gene co-expression networks that belong to the selected category.<br/><br/>It has been pre-selected the <b>'SNIG'</b> network. For further information about the networks, please visit the <a href='@Url.Action("Datasets", "Run")' target='_blank'>Datasets</a> section.</p>",
                        position: 'right'
                    },
                    {
                        element: '#step3',
                        intro: "<b>Module</b><br/><br/>These are all modules that belong to the selected gene co-expression network. Each module represents a different group where genes have clustered together. The same gene can be clustered only once, therefore it will only appear within one single module from the current network.<br/><br/>It has been pre-selected the <b>'yellow'</b> module.",
                        position: 'right'
                    },
                    {
                        element: '#step4',
                        intro: "<b>Genes</b><br/><br/>These are all genes belonging to the current module. Please, select one or more genes.<br/><br/>It has been pre-selected the gene <b>'ATP1A3'</b>.",
                        position: 'right'
                    },
                    {
                        element: '#step5',
                        intro: "<b>Accept</b><br/><br/>Once you are ready, press 'Accept' to send your query.",
                        position: 'right'
                    },
                    {
                        element: '#step6',
                        intro: "<b>Results</b><br/><br/>This is the results area. ",
                        position: 'bottom'
                    }
                ]
            });
            intro.onbeforechange(function (targetElement) {

                if (targetElement.id == "step2" && $("#category_dropdown").val() == "10UKBEC") {
                    $('#network_dropdown').val('SNIG').change();
                    $('#network_dropdown')
                        .prop("disabled", false)
                        .selectpicker('refresh');
                }
                if (targetElement.id == "step3" && $("#network_dropdown").val() == "SNIG") {
                    $('#module_dropdown').val('yellow').change();
                    $('#module_dropdown')
                        .prop("disabled", false)
                        .selectpicker('refresh');
                }
                if (targetElement.id == "step4" && $("#module_dropdown").val() == "yellow") {
                    $('#gene_dropdown').val('156')
                        .change();
                    $('#gene_dropdown')
                        .prop("disabled", false)
                        .selectpicker('refresh');
                }
            });
            var doneTourPlot = sessionStorage.getItem('EventTourPlot') === 'Completed';
            if (doneTourPlot) {
                return;
            }
            else {
                intro.start();

                intro.oncomplete(function () {
                    sessionStorage.setItem('EventTourPlot', 'Completed');
                });

                intro.onexit(function () {
                    sessionStorage.setItem('EventTourPlot', 'Completed');
                });
            }

        }
    </script>
}

