
@{
    ViewData["Title"] = "Plot Gene Network";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Plot Gene Network</span>
    }
</div>

<environment include="Development,Production">
    <div class="row">
        <div class="col-sm-3 sidebar menu">
            @*<h4>Please, make your selection:</h4>
            <hr class="menu-hr" />*@

            <div id="step1">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="<li>CoExpROSMAP: 4 case and control Frontal Cortex co-expression networks;</li><br/><li>GTEx V6: 47 co-expression networks in control tissue;</li><br/><li>10UKBEC: 10 Illumina microarray-based gene expression profiling networks from brain control tissues;</li><br/><li>GTEx V7: a beta version of the same 47 co-expression networks from GTExV6;</li><br/><li>NABEC: a gene co-expression network from RNA-seq control Cortex samples.</li>">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="category_dropdown">Category:</p>

                <select id="category_dropdown" name="category" class="selectpicker" title="Select an option ..."></select>
            </div>
            <br>

            <div id="step2">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="Contains all co-expression networks from the selected category.">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="network_dropdown">Network:</p>

                <select id="network_dropdown" name="network" class="selectpicker" data-live-search="true" data-size="7" title="Select an option ..."></select>
            </div>
            <br>

            <div id="step3">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="Contains all modules that belong to the selected co-expression network.<br/>Each module represents a different cluster of genes.<br/>The same gene can be clustered only once, thus a gene can only appear within one single module from the current network.">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="module_dropdown">Module:</p>

                <select id="module_dropdown" name="module" class="selectpicker" data-live-search="true" data-size="7"
                        title="Select an option ..."></select>
            </div>
            <br>

            <div id="step4">
                <span class="fa-li" data-toggle="tooltip"
                      data-placement="right"
                      data-html="true"
                      title="Contains all genes that belong to the selected module.<br/> Please, select one or more genes of interest.">
                    <i class="fa fa-info-circle fa-fw"></i>
                </span><p class="fa-li-p" for="gene_dropdown">Gene of interest:</p>

                <select id="gene_dropdown" name="gene" class="selectpicker" multiple data-live-search="true" data-size="7"
                        title="Select a gene ...">
                </select>
            </div>
            <hr class="menu-hr" />
            <div id="step5">
                <button id="send_button" class="btn btn-primary">Accept</button>
            </div>
        </div>

        <div id="step6" class="col-md-9">

            <div id="empty-initial-results">
                <p>Your results will appear here.</p>
            </div>

            <div id="plot_area">

                <div id="cy"></div>

                <div id="dvjson"></div>
            </div>

        </div>
        <!--<div id="button_area" class="col-md-9">
            <a id="save-plot" role="button" href="" download="filename.jpg">
            <img src="" id="save-plot-img" style="visibility:hidden" />Save Graph
            </a>-->
            @*<button id="save-plot" class="btn btn-primary">Save Graph</button>
            <img id="save-plot-img" src="" />*@
            <!--<button id="save_data" class="btn btn-primary">Save Data</button>

        </div>-->
        <div class="loading_layer"><!-- loading layer --></div>
    </div>
</environment>



@section Scripts{

    


    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $("[data-placement='bottom']").popover();

            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_plot").addClass("active");

            API.prototype.menuInit(4);

        });

        function startIntro() {
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: '#step1',
                        intro: "<div class='customHelpHeader'>Category</div><p>Please, select here your preferred category of co-expression networks.</p>",
                        position: 'right',

                        tooltipClass: 'customStep1'
                    },
                    {
                        element: '#step2',
                        intro: "<b>Network</b><br/><br/>These are all co-expression networks that belong to the category selected in the previous step.",
                        position: 'right'
                    },
                    {
                        element: '#step3',
                        intro: "<b>Module</b><br/><br/>These are all modules that belong to the co-expression network selected in the previous step.<br/>Each module represents a different group where genes have clustered together.<br/>The same gene can be clustered only once, therefore one gene can only appear within one module of the current network.",
                        position: 'right'
                    },
                    {
                        element: '#step4',
                        intro: "<b>Genes</b><br/><br/>These are all genes belonging to the current module. Please, select your gene of interest.",
                        position: 'right'
                    },
                    {
                        element: '#step5',
                        intro: "<b>Accept</b><br/><br/>Once you are ready, press 'Accept' to send your query.",
                        position: 'right'
                    },
                    {
                        element: '#step6',
                        intro: "<b>Results</b><br/><br/>This is the results area. Your results will appear here.",
                        position: 'bottom'
                    }
                ]
            });

            var doneTourPlot = sessionStorage.getItem('EventTourPlot') === 'Completed';
            if (doneTourPlot) {
                return;
            }
            else {
                intro.start();

                intro.oncomplete(function () {
                    sessionStorage.setItem('EventTourPlot', 'Completed');
                });

                intro.onexit(function () {
                    sessionStorage.setItem('EventTourPlot', 'Completed');
                });
            }

        }
    </script>
}

