@{
    ViewData["Title"] = "Publication";
}
<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Publication</span>
    }
</div>
<div class="row">
    <div class="col-11 about">
        <h2>Publication</h2>

        <hr class="menu-hr" />
        <div id="div_publication">

            <h3>CoExp: A Web Tool for the Exploitation of Co-expression Networks</h3>
            <p class="author">
                Sonia García-Ruiz, Ana L. Gil-Martínez, Alejandro Cisterna, Federico Jurado-Ruiz, Regina H. Reynolds, NABEC (North America Brain Expression Consortium), Mark R. Cookson, John Hardy, Mina Ryten, and Juan A. Botía.<br/>
                Front. Genet., 24 February 2021 | https://doi.org/10.3389/fgene.2021.630187
            </p>
            <a href="https://doi.org/10.3389/fgene.2021.630187" target="_blank" role="button" class="btn btn-primary">
                View article
            </a>

        </div>
        <div id="div_publication">

            <h3>An additional k-means clustering step improves the biological features of WGCNA gene co-expression networks</h3>
            <p class="author">
                Juan A. Botía, Jana Vandrovcova, Paola Forabosco, Sebastian Guelfi, Karishma D'Sa, The United Kingdom Brain Expression Consortium, John Hardy, Cathryn M. Lewis, Mina Ryten & Michael E. Weale.
                <br />BMC Syst Biol 11, 47 (2017) doi:10.1186/s12918-017-0420-6
            </p>
            <a href="https://doi.org/10.1186/s12918-017-0420-6" target="_blank" role="button" class="btn btn-primary">
                View article
            </a>

        </div>
        <hr class="menu-hr" />
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            // Turn active current menu's option
            $(".nav-item").find(".active").removeClass("active");
            $("#tab_publication").addClass("active");
        });

    </script>
}