@{
    ViewData["Title"] = "Publication";
}
<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="active">Publication</span>
    }
</div>
<div class="row">
    <div class="col-sm-11 about">
        <h2>Publication</h2>

        <hr class="menu-hr" />


        <div id="div_publication">

            <h3>An additional k-means clustering step improves the biological features of WGCNA gene co-expression networks</h3>
            <br /><h4>Background</h4>
            <p>
                Weighted Gene Co-expression Network Analysis (WGCNA) is a widely used R software package for the generation of gene co-expression networks (GCN).
                WGCNA generates both a GCN and a derived partitioning of clusters of genes (modules). We propose k-means clustering as an additional processing step to conventional WGCNA,
                which we have implemented in the R package km2gcn (k-means to gene co-expression network, https://github.com/juanbot/km2gcn).
            </p>
            <br /><h4>Results</h4>
            <p>
                We assessed our method on networks created from UKBEC data (10 different human brain tissues), on networks created from GTEx data (42 human tissues, including 13 brain tissues),
                and on simulated networks derived from GTEx data. We observed substantially improved module properties, including: (1) few or zero misplaced genes;
                (2) increased counts of replicable clusters in alternate tissues (x3.1 on average); (3) improved enrichment of Gene Ontology terms (seen in 48/52 GCNs)
                (4) improved cell type enrichment signals (seen in 21/23 brain GCNs); and (5) more accurate partitions in simulated data according to a range of similarity indices.
            </p>
            <br /><h4>Conclusions</h4>
            <p>
                The results obtained from our investigations indicate that our k-means method, applied as an adjunct to standard WGCNA, results in better network partitions.
                These improved partitions enable more fruitful downstream analyses, as gene modules are more biologically meaningful.
            </p>

        </div>
        <div>
            <br />
            <h3>Cite this article</h3>
            <hr class="menu-hr" />
            <div class="table-responsive col-md-7">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td colspan="2">CITATION DETAILS</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Citation</b></td>
                            <td>
                                Botía, J.A., Vandrovcova, J., Forabosco, P. et al. An additional k-means clustering step improves the biological features of WGCNA gene co-expression networks.
                                BMC Syst Biol 11, 47 (2017) doi:10.1186/s12918-017-0420-6
                            </td>
                        </tr>
                        <tr>
                            <td><b>DOI</b></td>
                            <td>
                                <a href="https://doi.org/10.1186/s12918-017-0420-6" target="_blank">https://doi.org/10.1186/s12918-017-0420-6</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><br /><br />
            <div class="table-responsive col-md-6">
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Received</th>
                            <th>Accepted</th>
                            <th>Published</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>26 August 2016</td>
                            <td>17 March 2017</td>
                            <td>12 April 2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>




        </div>
        <hr class="menu-hr" />
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        // Turn active current menu's option
        $(".nav-item").find(".active").removeClass("active");
        $("#tab_about").addClass("active");
    });

    </script>
}