
@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        <span class="main-label-breadcrumbs">CoExp</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        <span class="active">Terms and Conditions</span>
        @*@Html.ActionLink("About CoExp", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())*@
    }
</div>
<div class="row">
    <div class="col-sm-11 about">
        <h2>Terms and Conditions</h2>
        <small>Last updated: August 05, 2020</small>
        <hr class="menu-hr" />
        <div>

            <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <a href="https://rytenlab.com/coexp/" target="_blank">https://rytenlab.com/coexp/</a> website (the "Service") operated by CoExp Web Application ("us", "we", or "our").</p>

            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

            <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms and Conditions agreement  for CoExp Web Application has been created with the help of <a href="https://www.termsfeed.com/terms-conditions-generator/">Terms and Conditions Generator</a>.</p>


            <br /><h3>Links To Other Web Sites</h3>

                  <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by CoExp Web Application.</p>

            <p>CoExp Web Application has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that CoExp Web Application shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>


            <br /><h3>Termination</h3>

            <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>



            <br /><h3>Governing Law</h3>

            <p>These Terms shall be governed and construed in accordance with the laws of United Kingdom, without regard to its conflict of law provisions.</p>

            <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>


            <br /><h3>Changes</h3>

            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

            <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>


            <br /><h3>Contact Us</h3>

            <p>If you have any questions about these Terms, please <a href="mailto:s.ruiz@ucl.ac.uk">contact us.</a></p>



            <br /><h3>Licence</h3>
            <div>
                <p>Copyright 2021 CoExp</p>
                <p>
                    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
                    You may obtain a copy of the License at <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a><br />
                    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br />
                    See the License for the specific language governing permissions and limitations under the License.<br />
                </p>

            </div>
        </div>


    </div>
</div>
