.sidebar {
    margin-top: 15px !important;
}

#tree {
    margin-top: 15px !important;
}
.sim-tree {
    list-style: none !important;
    font-size: 14px !important;
    color: #333 !important;
}
    .sim-tree ul, .sim-tree li {
        margin: 0 !important;
        padding: 0 !important;
    }
    .sim-tree li {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        font-size: 0 !important;
    }
        .sim-tree li ul {
            display: none !important;
            margin-left: 15px !important;
        }
        .sim-tree ul.show, .sim-tree li.show {
            display: block !important;
        }
        .sim-tree ul.none, .sim-tree li.none {
            display: none !important;
        }
        .sim-tree li.disabled > a {
            color: #aaa !important;
            cursor: not-allowed !important;
        }
            .sim-tree li.disabled > a .sim-tree-checkbox {
                border-color: #eee !important;
            }
    .sim-tree a {
        font-size: 14px !important;
        color: #333 !important;
        text-decoration: none !important;
        vertical-align: top !important;
        line-height: 26px !important;
    }
    .sim-tree .sim-tree-spread {
        width: 20px !important;
        padding-left: 5px !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }
        .sim-tree .sim-tree-spread.hidden {
            visibility: hidden !important;
        }
    .sim-tree .sim-tree-spread, .sim-tree a {
        display: inline-block !important;
        height: 26px !important;
        cursor: pointer !important;
    }
    .sim-tree .layui-icon-d:before, .sim-tree .layui-icon-r:before {
        content: '' !important;
        display: inline-block !important;
        width: 0 !important;
        height: 0 !important;
        border: 6px solid transparent !important;
        vertical-align: top !important;
        position: relative !important;
    }
    .sim-tree .layui-icon-r:before {
        border-left-width: 8px !important;
        border-left-color: #333 !important;
        top: 7px !important;
    }
    .sim-tree .layui-icon-d:before {
        margin-left: -4px !important;
        border-top-color: #333 !important;
        top: 10px !important;
    }
    .sim-tree .sim-tree-checkbox {
        display: inline-block !important;
        border: 1px solid #ccc !important;
        height: 16px !important;
        width: 16px !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        text-align: center !important;
        line-height: 16px !important;
        background: #fff !important;
        color: #fff !important;
        vertical-align: middle !important;
        margin-right: 6px !important;
        margin-top: -2px !important;
    }
        .sim-tree .sim-tree-checkbox.sim-tree-semi, .sim-tree .sim-tree-checkbox.checked {
            border-color: #2b85e4 !important;
            background-color: #2b85e4 !important;
        }
        .sim-tree .sim-tree-checkbox.sim-tree-semi {
            position: relative !important;
        }
            .sim-tree .sim-tree-checkbox.sim-tree-semi:after {
                content: '' !important;
                display: block !important;
                position: absolute !important;
                width: 8px !important;
                height: 2px !important;
                background: #fff !important;
                top: 6px !important;
                left: 3px !important;
            }
        .sim-tree .sim-tree-checkbox.checked {
            background-image: url("../images/check.png") !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }
/******************************************/
/******************************************/
/******************************************/
.sidebar {
    margin-top: 15px;
}

#tree {
    margin-top: 15px;
}

.sim-tree {
    list-style: none;
    font-size: 14px;
    color: #333;
}

    .sim-tree ul, .sim-tree li {
        margin: 0;
        padding: 0;
    }

    .sim-tree li {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
    }

        .sim-tree li ul {
            display: none;
            margin-left: 20px !important;
        }

        .sim-tree ul.show, .sim-tree li.show {
            display: block;
        }

        .sim-tree ul.none, .sim-tree li.none {
            display: none;
        }

        .sim-tree li.disabled > a {
            color: #aaa;
            cursor: not-allowed;
        }

            .sim-tree li.disabled > a .sim-tree-checkbox {
                border-color: #eee;
            }

    .sim-tree a {
        font-size: 14px;
        color: #333;
        text-decoration: none;
        vertical-align: top;
        line-height: 26px;
    }

    .sim-tree .sim-tree-spread {
        width: 20px;
        padding-left: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .sim-tree .sim-tree-spread.hidden {
            visibility: hidden;
        }



    .sim-tree .sim-tree-spread, .sim-tree a {
        display: inline-block;
        height: 26px;
        cursor: pointer;
    }

    .sim-tree .layui-icon-d:before, .sim-tree .layui-icon-r:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        vertical-align: top;
        position: relative;
    }

    .sim-tree .layui-icon-r:before {
        border-left-width: 8px;
        border-left-color: #333;
        top: 7px;
    }

    .sim-tree .layui-icon-d:before {
        margin-left: -4px;
        border-top-color: #333;
        top: 10px;
    }

    .sim-tree .sim-tree-checkbox {
        display: inline-block;
        border: 1px solid #ccc;
        height: 16px;
        width: 16px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        line-height: 16px;
        background: #fff;
        color: #fff;
        vertical-align: middle;
        margin-right: 6px !important;
        margin-top: -2px;
    }

        .sim-tree .sim-tree-checkbox.sim-tree-semi, .sim-tree .sim-tree-checkbox.checked {
            border-color: #2b85e4;
            background-color: #2b85e4;
        }

        .sim-tree .sim-tree-checkbox.sim-tree-semi {
            position: relative;
        }

            .sim-tree .sim-tree-checkbox.sim-tree-semi:after {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 2px;
                background: #fff;
                top: 6px;
                left: 3px;
            }

        .sim-tree .sim-tree-checkbox.checked {
            background-image: url("../images/check.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
